#debate {
    padding: 10px;
}

#debatePoint {
    text-align: justify;
    background-color: #ffffff;
    padding: 12px;
}

#debatePointRow {
    background-image: url("../img/d.jpg");
    margin: 0px 0px 0px 0px;
    padding: 10px;
}


.responseHeading {
    margin-top: 10px;
    width: 100%;
    height: 5px;
}

