#info{
  height: 50%;
  margin-top: 10px;
}
/*
#info div{
    border-right-style: solid;
    border-right-color: black;
    border-width: thin;

}*/
#Title{
    height: 300px;
}
#Title h5{
    background-color: white;
    color: black;
    padding: 20px;
    margin: 5%;    
}
#posterName{
    background-color: rgb(255, 194, 119);
    text-align: right;
    
}
#explanation{
    margin-top: 10px;
    padding:10px;
    background-color: bisque;
}
#backgroundImage{
    height: 100%;
    object-fit: none; 
}
